/* =========================
     Mobile header/nav section
     ========================= */
.pg-nav {
  /* position: fixed; */
  background-color: var(--color-bg);
  /* color: snow; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  top: 0;
  width: 100%;
}

.pg-nav ul {
  list-style: none;
  display: block;
  padding: 0;
}

.pg-nav ul:last-child {
  width: 100%;
  flex-basis: 100%;
}

.pg-nav ul li {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding: 0.25em 0;
}

.pg-nav ul li a {
  color: white;
}

input[type="checkbox"]:not(:checked) + ul {
  display: none;
}

nav label {
  font-size: var(--font-size-lg);
  display: block;
  padding: 0 0.3em;
  margin: 0.5em;
  /* border: solid 1px white; */
  /* border-radius: 50%; */
}

nav input[type="checkbox"] {
  display: none;
}

.pg-nav-label-img {
  width: 90dvw;
}

/* =========================
     Mobile hero section
     ========================= */
